extends layout

block content     
    h1 Adicionar Planeta
    form(method='POST', action='/planets/add')
        #form-group
            label Titulo:
            input.form-control(name='title', type='text')
        #form-group
            label Autor:
            input.form-control(name='author', type='text')
        #form-group
            label Descrição:
            textarea.form-control(name='body')
        br
        button.btn.btn-primary(type='submit') Adicionar
